<html>
<head>
    <script type="text/javascript" src="{{ url_for('static', filename='brython.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='visualife.brython.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='brython_stdlib.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='3Dmol-min.js') }}"></script>
    <script type="text/javascript">$(document).ready(function () {
        dmol = $3Dmol;
    });</script>
    <style>
        body {
            font-size: 15px;
            font-weight: 300;
            font-variant-numeric: proportional-nums;
            font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
        }

        .center {
            margin-left: auto;
            margin-right: auto;
            display: flex;
            justify-content: flex-start;
        }

        .left { width: 600px; }
        .right {position: relative;}

        .box {
            position: absolute;
            display: none;
            top: 250px;
            left: 10px;
            width: 500px;
            height: 500px;
        }

        #viewer_title {
            margin-top: 30px;
            color: black;
            text-align: center;
            z-index: 10;
        }

        .tip_left {
            color: #fff;
            text-align: right;
            font-size: 15px;
        }
        .tip_right {
            color: #fff;
            text-align: left;
            font-size: 15px;
        }

        #info {
            margin-right: 20px;
            text-align: justify;
        }
        #modal {
            z-index:10;
            position: absolute;
            border: 1px solid gray;
            width:  700px;
            height: 700px;
            left: -100px;
            top: 50px;
            padding: 10px;
            visibility: hidden;
            background: white;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }
        #summary-modal {
            z-index:10;
            position: absolute;
            border: 1px solid gray;
            width:  600px;
            height: 700px;
            left: -100px;
            top: 30px;
            padding: 10px;
            visibility: hidden;
            background: white;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }
        #svg, #svg-1 {
            position: absolute;
            left: 0px;
            top: 30px;
        }
        .radio_section {
            width: 200px;
            display: flex;
            flex-direction: column;
            padding: 0 5px 0 5px;
        }
        .radio_row {
            display: block;
        }

     /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
        width: 580px;
    }

    /* Style the buttons that are used to open the tab content */
    .tab button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 10px 10px;
      transition: 0.3s;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
      background-color: #ddd;
    }

    /* Create an active/current tablink class */
    .tab button.active {
      background-color: #ccc;
    }

    /* Style the tab content */
    .tabcontent {
        display: none;
        /*padding: 6px 12px;*/
        border: 1px solid #ccc;
        border-top: none;
        height: 780px;
        width: 580px;
        position: relative;
    }

    #drug-summary-body tr {  line-height: 15px;}
    #protein-summary-body tr { line-height: 15px;}
    #drug-summary-body td { height: 15px; }
    #protein-summary-body td  { height: 15px; }

    </style>
</head>

<body onload="brython(1)">

<script type="text/python" src="{{ url_for('brython_script') }}"></script>

<div id="tooltip"></div>

<div class="center">
    <div class="left">
        <div id=info>
            <h5>Azole drug docking to CYP450</h5>
            <p>
            This page presents results of a large scale docking experiment: 8 drugs were docked to 12 CYP450 proteins.
            Each square represents a single combination, for which 10 000 models were computed and subjected to
            hierarchical clustering.
            Up to 5 biggest clusters are provided for each protein-drug combination, represented as circles. Area of a
            circle
            is proportional to the cluster size while color scale depicts closest distance between a drug molecule and
            FE atom in haeme ring.
            </p>
        </div>
        <div class="tab">
              <button id="structure_box-button" class="left_tabbuttons">show_structure</button>
              <button id="sequence_box-button" class="left_tabbuttons">show sequence</button>
        </div>
        <!--Tab 1 content -->
        <div id ="structure_box" class="box">
            <div id="viewer_title"></div>
            <div id="viewer_box"></div>
        </div>
        <!--Tab 2 content -->
        <div id ="sequence_box"class="box">
            <div id="seqviewer_box"></div>
        </div>
    </div>
    <div class="right">
        <div id="modal">
            <svg id="plot00" xmlns="http://www.w3.org/2000/svg" width="700" height="300"></svg>

            <div id="plot_menu" style="display: flex; flex-direction: row;">
                <div id="scorefile_type" style="display: block; width: 200px;">
                    <div>Select score type to display:</div>
                    <div id="choose-scores" class="radio_section">
                        <div class="radio_row">
                            <input type="radio" id="lowres" name="scoretype" value="lowres">
                            <label for="lowres">low-res</label>
                        </div>
                        <div class="radio_row">
                            <input type="radio" id="pose" name="scoretype" value="pose" checked="true">
                            <label for="pose">high-res</label>
                        </div>
                        <div class="radio_row">
                            <input type="radio" id="ligand" name="scoretype" value="ligand">
                            <label for="ligand">high-res ligand only</label>
                        </div>
                    </div>
                </div>

                <div id="which_points" style="display: block; width: 200px;">
                    <div>Number of points:</div>
                    <div id="choose-data" class="radio_section">
                        <div class="radio_row">
                            <input type="radio" id="current_page" name="plot_data" value="current_page">
                            <label for="current_page">current page</label>
                        </div>
                        <div class="radio_row">
                            <input type="radio" id="top_100" name="plot_data" value="top_100" checked="true">
                            <label for="top_1000">top 100</label>
                        </div>
                        <div class="radio_row">
                            <input type="radio" id="top_1000" name="plot_data" value="top_1000">
                            <label for="top_1000">top 1000</label>
                        </div>
                        <div class="radio_row">
                            <input type="radio" id="all" name="plot_data" value="ligand">
                            <label for="all">all</label>
                        </div>
                    </div>
                </div>

                <div id="which_histogram" style="display: block; width: 200px;">
                    <div>plot type:</div>
                    <div id="choose-data" class="radio_section">
                        <div class="radio_row">
                            <input type="radio" id="X-Y" name="plot_type" value="X-Y" checked="checked">
                            <label for="X-Y">X-Y</label>
                        </div>
                        <div class="radio_row">
                            <input type="radio" id="score_histogram" name="plot_type" value="score_histogram">
                            <label for="score_histogram">score histogram</label>
                        </div>
                        <div class="radio_row">
                            <input type="radio" id="distance_histogram" name="plot_type" value="distance_histogram">
                            <label for="distance_histogram">distance histogram</label>
                        </div>
                    </div>
                </div>
            </div>

            <div id="table" style="font-size: 10px; overflow-y: hidden; background: white"></div>
            <button type="button" id="modal-close" style="width: 100px; padding: 10px;">Close</button>
        </div>

        <!-- Modal window for the summary table -->
        <div id="summary-modal">
            <div id="drug-summary-table" style="font-size: 10px; overflow-y: hidden; background: white"></div>
            <div id="protein-summary-table" style="font-size: 10px; overflow-y: hidden; background: white"></div>
            <button type="button" id="summary-close" style="width: 100px; padding: 10px;">Close</button>
        </div>

        <div style="display: block;">
                     <!-- Tab buttons -->
            <div class="tab">
              <button id="by_distance-button" class="tabbuttons">docking results</button>
              <button id="by_cluster-button" class="tabbuttons">clustering results</button>
            </div>

            <!-- Tab content 1 -->
            <div id="by_distance" class="tabcontent">
                <div class="menu">
                    <button class="menu-element" id="bar-summary-chart"> show summary for bar chart</button>
                </div>
                <svg id="svg-1" xmlns="http://www.w3.org/2000/svg"></svg>
            </div>
            <!-- Tab content 2-->
            <div id="by_cluster" class="tabcontent">

                <div class="menu">
                    <select class="menu-element" id="palette"></select>
                    <label for="palette">color palette</label>
                    <input class="menu-element" id="max_color" type="range" min="1.0" max="40" step="0.1" value="10.0">
                    <label for="max_color">max distance to color: <span id="max_color_value"> </span>&#8491;</label>
                </div>
                <svg id="svg" xmlns="http://www.w3.org/2000/svg"></svg>
            </div>
        </div>
    </div>
</div>

</body>

</html>

